.topNav{

    background-color: black;
    color: white;
    height: 50px;
    padding: 10px 30px 10px 30px;
    

}



.logo{
    margin-top: 20px;
}

.navCont>div{
    /* width: 30%; */
    display: flex;
    align-items: center;

}
.navCont>div:nth-child(3){
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.check>div{
    width: 20%;
}
.input{
    height: 40px;
    margin-top: 40px;
}
.cont:hover{
    color: blue;
}